@import "./base/mixins";
@import "./base/variables";
@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "layout/_header"; 
@import "./layout/footer";
@import "./layout/sections";

@import "sections/_certifications";

@import "./sections/hero";
@import "./sections/about";
@import "./sections/skills";
@import "./sections/highlights";
@import "./sections/projects";
@import "./sections/contact";